<div class="users">
    <div class="users-header">
        <div><h1>All Socials</h1></div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputValidation" placeholder="Search"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <div class="user-grid">
        <!-- <app-feed-item *ngFor='let key of  [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]'></app-feed-item> -->
        <app-social-item *ngFor='let social of socials' [socialObj]=social (deleteSocial)="onDeleteSocial(social)"></app-social-item>
    </div> 
    <div class="user-baseline">
        <ul>
            <li *ngFor='let e of [].constructor(pageCount);let i = index' (click)="onPageSelection(i+1)" ><a>{{i+1}}</a></li>            
        </ul>
    </div>   
</div>