<div class="adminCommunities">

    <div class="communityButton">
        <div>
            <button>Create new community</button>
        </div>
        <div>
            <button>All Admin communities</button>
        </div>
    </div>

    <div class="createCommunity">
        <div class="photoBrowser">
            <button>Add Image</button>
            <button>Add Cover Image</button>
        </div>
        <div class="photoBrowser">
            <span>Community Name</span>
            <input type="text">
            <button>Add Members</button>
        </div>
        <div>
            <div>About Community</div>
            <textarea name="" id="" cols="70" rows="5"></textarea>
        </div>
        <div>
            <div>Rules and regulations</div>
            <textarea name="" id="" cols="70" rows="5"></textarea>
        </div>
    </div>

    <div>
        <app-communities></app-communities> 
    </div>

</div>