<div class=masterItem>
    <div class="heading">
        <span>Heading</span>
    </div>
    <div class="masterRow">
        <span>Add</span>
        <input type="text" width="178px" height="26px">
    </div>
    <div class="masterRow">
        <span>List</span>
        <select name="" id=""  style="width:178px;height:26px">
            <option value="">dsfas</option>
            <option value="">aksjd</option>
            <option value="">wewer</option>
        </select>
    </div>
    <div class="masterRow">
        <button>Edit</button>
        <button>Delete</button>
    </div>
</div>