<div class="users">
    <div class="users-header">
        <div><h1>All Experiences</h1></div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputValidation" placeholder="Search"/>
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>
    <div class="user-grid">        
        <app-experience-item *ngFor='let experience of experiences' [experienceObj]=experience (deleteExperience)="onDeleteExperience(experience)"></app-experience-item>       
    </div>   
    <div class="user-baseline">
        <ul>
            <li *ngFor='let e of [].constructor(pageCount);let i = index' (click)="onPageSelection(i+1)" ><a>{{i+1}}</a></li>            
        </ul>
    </div> 
</div>