<div class="menu">
    <ul >
      <li><a  (click)="triggerMenuItem('home')"> Home </a></li>
      <li><a  (click)="triggerMenuItem('users')"> Users</a></li>
      <li><a  (click)="triggerMenuItem('firmAccounts')"> Firm Accounts</a></li>
      <li><a  (click)="triggerMenuItem('communities')"> Communities</a></li>
      <li><a  (click)="triggerMenuItem('channels')"> Channels</a></li>
      <li><a  (click)="triggerMenuItem('feeds')"> Feed</a></li>
      <li><a  (click)="triggerMenuItem('social')"> Social</a></li>
      <li><a  (click)="triggerMenuItem('experience')"> Experience</a></li>
      <li><a  (click)="triggerMenuItem('reports')"> Reports</a></li>
      <li><a  (click)="triggerMenuItem('blockList')"> Block List</a></li>
      <li><a  (click)="triggerMenuItem('masterData')"> Master Data</a></li>
      <li><a  (click)="triggerMenuItem('appRestriction')"> App Restriction</a></li>
      <li><a  (click)="triggerMenuItem('adminCommunities')"> Admin Communities</a></li>
      <li><a  (click)="triggerMenuItem('adminMessage')"> Admin Message</a></li>
    </ul>
  </div>