
 .sidemenu .menu {
    background-color: #5C6BC0;
  } 

  .sidemenu .menu ul {
    list-style: none;
  }

  .sidemenu .menu a {
      color: #ffffff;
  }

  .sidemenu .menu li{
    padding: 2px 0px;
  }

  .sidemenu .menu li:hover a{
    background-color: #ffffff;
    color: #5C6BC0;
  }