<div class="alert alert-danger" *ngIf="error" style="text-align: center;">
    <p> {{error}} </p>
</div>

<div class="appRestriction">
    <div class="appRestrictItem">
        <div>Interests selection limit</div>
        <div><input type="number" [(ngModel)]="appRestriction.interestsSelectionLimit"></div>
        <div style="border:2px solid #757575; text-align-last: center;">Note: One user can add upto 5 interests</div>
    </div>
    <div class="appRestrictItem">
        <div>Creating Communities</div>
        <div><input type="number" [(ngModel)]="appRestriction.creatingCommunitiesLimit"></div>
        <div style="border:2px solid #757575; text-align-last: center;">Note: One user can create upto 10 communities</div>
    </div>
    <div><input type="button" value="Update" (click)="update()"></div>
</div>