<div class="appRestriction">
    <div class="appRestrictItem">
        <div>Interests selection limit</div>
        <div><input type="text" name="" id=""></div>
        <div style="border:2px solid #757575; text-align-last: center;">Note: One user can add upto 5 interests</div>
    </div>
    <div class="appRestrictItem">
        <div>Creating Commubities</div>
        <div><input type="text"></div>
        <div style="border:2px solid #757575; text-align-last: center;">Note: One user can create upto 10 communities</div>
    </div>
</div>