<div class="postItem"> 
    <div class="postProfile">  
        <div style="display: flex;">
            <img width="40px" height="40px" src="assets/img/user.png" alt="">
        </div>
        <div>
            <div><b>{{experience.minimalProfileResponse.name}} posted in {{experience.categoryResponse.masterValue}}</b></div>
            <div>20</div>
        </div>
        <div>
            <button (click)="onDeleteExperience()">Delete Post</button>
            &nbsp;
            <button>Admin Message</button>
        </div>
    </div>
    <div class="postDescription">
        {{experience.description}}
    </div>
    <div class="postCounts">
        <span>
           <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{experience.viewsCount}}
        </span>
        &nbsp;&nbsp;
        <span>
            <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{experience.likesCount}}
        </span>
        &nbsp;&nbsp;
        <span>
            <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{experience.commentsCount}}
        </span>
    </div>
</div>