<div class="postItem"> 
    <div class="postProfile">  
        <div style="display: flex;">
            <img width="40px" height="40px" src="assets/img/user.png" alt="">
        </div>
        <div>
            <div><b>{{social.minimalProfileResponse.name}} and {{social.categoryName}}</b></div>
            <div>{{socialService.getDateFFMMMYYYY(social.updatedTime)}}</div>
        </div>
        <div>
            <button (click)="onDeleteSocial()" >Delete Post</button>
            &nbsp;
            <button>Admin Message</button>
        </div>
    </div>
    <div class="postDescription">
        {{social.description}}
    </div>
    <!-- <div class="postCounts">
        <span>
           <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{social.likesCount}}
        </span>
        &nbsp;&nbsp;
        <span>
            <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{social.commentsCount}}
        </span>
        &nbsp;&nbsp;
        <span>
            <img width="15px" height="15px" src="assets/img/user.png" alt=""> {{social.likesCount}}
        </span>
    </div> -->
</div>